---
import Layout from '../layouts/Layout.astro';
import AuthAuto from '../components/AuthAuto.vue';
---
<Layout>
<div class="max-w-lg mx-auto py-12">
    <AuthAuto client:only="vue" />
</div>
</Layout>