---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import BlogCard from "../components/BlogCard.astro";
import FailWay from "../components/FailWay.astro";
import TrustSection from "../components/TrustSection.astro";

import { Image } from 'astro:assets';
import Blog1 from '../assets/blog-placeholder-2.jpg';
import Blog2 from '../assets/blog-placeholder-3.jpg';
import Blog3 from '../assets/blog-placeholder-4.jpg';
---

<Layout>
	<Hero />
	<section class="py-10 px-6">
		<h2 class="text-[36px] lg:text-6xl sm:text-[24px] font-extrabold text-center mb-10">
			Latest Issue
		</h2>

		<div class="max-w-7xl mx-auto grid justify-between gap-4 sm:grid-cols-2 lg:grid-cols-3 ">
			<BlogCard
				image={Blog1.src}
				category="Startups"
				title="Startup Raised $10M in a Month"
				description="An inside look at how they scaled their MVP and raised millions through storytelling."
				link="/about"
			/>
			<BlogCard
				image={Blog2.src}
				category="Productivity"
				title="5 Tools That Helped Me Grow My Blog"
				description="Here’s how I increased engagement, automated posting, and doubled my traffic."
				link="/about"
			/>
			<BlogCard
				image={Blog3.src}
				category="Marketing"
				title="Viral Marketing Tactics That Still Work"
				description="Let’s explore 3 proven ways to make your startup content go viral."
				link="/about"
			/>
		</div>
	</section>
	<FailWay />
	<TrustSection />

</Layout>
