---
---
<section class="text-white px-4 py-20 bg-[#0e0e0e]">
    <div class="max-w-7xl mx-auto space-y-8">
        <div>
        <h2 class="text-4xl lg:text-6xl sm:text-5xl font-extrabold mb-8 leading-tight">
            The <u>All-In-One</u> Newsletter for Startup Founders
        </h2>
        <p class="text-lg lg:text-2xl sm:text-xl text-gray-300 mb-6">
            90% of startups fail. Learn how not to with our weekly guides and stories.
            <span class="font-bold text-white">Join +40,000 other startup founders!</span>
        </p>
        </div>
        <div>
        <form class="flex flex-col sm:flex-row justify-center gap-3 max-w-7xl mx-auto">
            <input
                    type="email"
                    placeholder="Enter your email"
                    class="flex-1 px-4 py-4 text-xl rounded-md text-gray-400 bg-[#1b1b1b] border border-gray-500 focus:outline-none"
            />
            <button
                    type="submit"
                    class="bg-white text-black text-xl font-bold px-6 py-3 rounded-md hover:bg-gray-200 transition"
            >
                Subscribe For Free →
            </button>
        </form>
        </div>
    </div>
</section>