---
import Cta from "./Cta.astro";
---

<Cta />
<section class="bg-black text-white">
	<div class="max-w-7xl mx-auto">
		<!-- Footer Section -->
		<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-6 sm:flex items-center justify-center text-center lg:text-left gap-22 py-10 text-xl">
			<!-- Logo & Intro -->
			<div class="lg:col-span-2">
				<h3 class="text-5xl font-extrabold mb-6">Fail Saver</h3>
				<p class="text-gray-400">
					An all-in-one newsletter for startup founders, ruled by one philosophy: there's more to learn from failures than from successes.
				</p>
			</div>

			<!-- Learn Links -->
			<div>
				<h4 class="font-bold mb-2 text-2xl">Learn</h4>
				<ul class="space-y-3 text-gray-400">
					<li><a href="#">Interviews</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Podcast</a></li>
					<li><a href="#">Startup Cemetery</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Podcast</a></li>
					<li><a href="#">Startup</a></li>
				</ul>
			</div>

			<div>
				<h4 class="font-bold mb-2 text-2xl">Pitch</h4>
				<ul class="space-y-3 text-gray-400">
					<li><a href="#">Unicorns</a></li>
					<li><a href="#">Failed Startups</a></li>
					<li><a href="#">Startups</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Podcast</a></li>
					<li><a href="#">Startup Cemetery</a></li>
				</ul>
			</div>

			<!-- Other -->
			<div>
				<h4 class="font-bold mb-2 text-2xl">Other</h4>
				<ul class="space-y-3 text-gray-400">
					<li><a href="#">Sponsor Us</a></li>
					<li><a href="#">Consultancy</a></li>
					<li><a href="#">Contribute</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Podcast</a></li>
					<li><a href="#">Startup Cemetery</a></li>
				</ul>
			</div>

			<!-- Connect -->
			<div>
				<h4 class="font-bold mb-2 text-2xl">Connect</h4>
				<ul class="space-y-3 text-gray-400">
					<li><a href="#">Failory's Twitter</a></li>
					<li><a href="#">Personal Twitter</a></li>
					<li><a href="#">Email</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Podcast</a></li>
					<li><a href="#">Startup Cemetery</a></li>
				</ul>
			</div>
		</div>

	</div>
</section>
