---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

// Current path without base URL
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
const subpath = pathname.match(/[^\/]+/g);

// Active check: exact match or first segment match
const isActive = href === pathname || href === '/' + (subpath?.[0] || '');
---

<a
	href={href}
	class:list={[
		className,
		{
			'font-extrabold': isActive, // Active style
      'font-medium': !isActive               // Inactive style
    }
	]}
	{...props}
>
	<slot />
</a>

<style>
	a {
		display: inline-block;
		text-decoration: none;
	}
</style>
