---
---
<section class="bg-white">
    <div class="max-w-7xl mx-auto px-4 py-16 grid grid-cols-1 lg:grid-cols-5 gap-8 items-center">

        <!-- Left Content: 80% -->
        <div class="lg:col-span-4 space-y-12">
            <h1 class="text-4xl sm:text-5xl md:text-6xl lg:text-[80px] font-extrabold text-black leading-tight text-center lg:text-left">
                90% of startups fail. <br />
                Learn how not to.
            </h1>

            <p class="mt-6 text-black text-xl sm:text-xl text-center lg:text-left">
                <span class="font-bold lg:text-3xl text-[20px] sm:text-[22px]">
                  Learn from startup failures and successes in 5 min or less.
                </span> <br />
                <span class="text-gray-600 lg:text-3xl">
                  The stories, frameworks, and tactics that will make you a 10x <br/> better founder.
                </span>
            </p>

            <!-- Email Form -->
            <form class="flex flex-col sm:flex-row gap-3 max-w-4xl">
                <input
                        type="email"
                        placeholder="Enter your email"
                        class="flex-1 text-xl font-semibold px-4 py-3 rounded-md text-black placeholder-gray-600 border-3 border-black focus:outline-none"
                />
                <button
                        type="submit"
                        class="bg-black text-white text-xl font-semibold px-10 py-5 rounded-md hover:bg-zinc-900 transition"
                >
                    Subscribe For Free →
                </button>
            </form>


            <!-- Founder Note with Avatar -->
            <div class="mt-6 flex items-start gap-4 justify-center lg:justify-start">
                <img src="/assets/nico.jpg" alt="Nico" class="w-10 h-10 rounded-full" />
                <p class="text-sm lg:text-3xl text-gray-700 italic">
                    <span class=" ">My name is Nico and I'm the founder of Failory.</span>
                    <span class="font-bold text-black">Join me and <br /> 40,000+ founders</span>, twice a week.
                </p>
            </div>
        </div>

        <!-- Right Image: 20% -->
        <div class="lg:col-span-1 flex justify-center lg:justify-end mt-10 lg:mt-0">
            <img
                    src="/assets/hero-phone.png"
                    alt="Fail Saver"
                    class="w-full md:max-w-sm"
            />
        </div>
    </div>
</section>
